<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullmetal Alchemist Wiki</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header class="navbar">
        <div class="logo">
            <img src="/imgs/logo.png" alt="Fullmetal Alchemist Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/tabela">Ranking</a></li>
                <li><a href="/card">Personagens</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
        </nav>
    </header>