<%- include ('partials/header.ejs') %>
     <section class="section-2">
            <article>
                <header class="header-2">
                    <h1 class="title-2">Personagens</h1>
                </header>
                <section class="section-img2">
                    <section class="photo">
                        <img src="imgs/edward.jpg" alt="#" class="img-2">
                        <header class="name">
                            <h1>Edward Elric</h1>
                        </header>
                        <p class="descrition">Ele é o mais jovem Alquimista Federal na história da organização, tendo sido
                            admitido aos 12 anos.</p>
                    </section>
                    <section class="photo">
                        <img src="imgs/alphonse.jpg" alt="#" class="img-2">
                        <header class="name">
                           <h1>Alphonse Elric</h1>
                        </header>
                        <p class="descrition">Um ano mais novo que seu irmão, Al também é vítima do fracassado
                            experimento de Transmutação Humana.</p>
                    </section>
                    <section class="photo">
                        <img src="imgs/winry.jpg" alt="#" class="img-2">
                        <header class="name">
                            <h1>Winry Rockbell
                        </h1>
                        </header>
                        <p class="descrition">Amiga de infância de Edward e Alphonse Elric, ela é quase que uma irmã para
                            ambos.</p>
                    </section>
                    <section class="photo">
                        <img src="imgs/Mustang.jpg" alt="#" class="img-2">
                        <header class="name">
                            <h1>Roy Mustang</h1>
                        </header>
                        <p class="descrition">É um Alquimista Federal e oficial comandante das Forças Armadas Amestrinas.</p>
                    </section>
                    <section class="photo">
                        <img src="imgs/olivier.jpg" alt="#" class="img-2">
                        <header class="name">
                            <h1>Olivier Mira Armstrong</h1>
                        </header>
                        <p class="descrition">Conhecida como a "General de Gelo", é uma das personagens mais imponentes e respeitadas de Fullmetal Alchemist.</p>
                    </section>
                </section>
            </article>
        </section>
<%- include ('partials/footer.ejs') %>