<%- include ('partials/header.ejs') %>
    <main class="content">
        <section class="banner">
            <div class="img"></div>
        </section>

        <section class="text-container">
            <p>
                Fullmetal Alchemist é uma série de mangá criada por Hiromu Arakawa e serializada na revista mensal Shonen Gangan desde Agosto de 2001. Recebeu uma adaptação para anime com 51 episódios pelo estúdio Bones, exibidos entre Outubro de 2003 e Outubro de 2004, e o longa-metragem Fullmetal Alchemist O Filme: O Conquistador de Shambala em Julho de 2005. Esta versão diferiu muito do mangá, enquanto a segunda série, Brotherhood, foi mais fiel na adaptação.
            </p>
            <img src="/imgs/hiromu_arakawa.png" alt="Criadora do Fullmetal Alchemist">
        </section>
<%- include ('partials/footer.ejs') %>