<%- include ('partials/header.ejs') %>
    <main class="perfil-container">
        <div class="card-perfil">

            <div class="perfil-header">
                <div class="avatar-section">
                    <div class="avatar">
                        <img src="/imgs/perfil.png" alt="Foto de Perfil">
                    </div>
                    <button class="btn-sair">Sair</button>
                </div>

                <div class="perfil-info">
                    <h2>Leonardo Rosa Sales</h2>
                    <p>leo@email.com</p>
                </div>
            </div>

            <div class="descricao-box">
                <h3>Descrição do Perfil:</h3>
                <div class="linhas-decorativas">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

        </div>
<%- include ('partials/footer.ejs') %>